@charset "utf-8";
*{margin:0;padding:0; font-size:12px; text-decoration:none;}
li{list-style:none;}
img{border:none 0;}
 
.Big{
	width:100%;
	background-color:#f5f5f5;
	margin:0 auto;
	overflow:hidden;
	border-radius:4px;
	}
.shang{
	width:640px;
	height:40px;
	background-color:#CCC;
	text-align:center;
	line-height:40px;
	}

/*收货信息开始*/
.dingdan-big{
	margin:0 auto;
	}
.shouhuo{
	width:95%;
	margin:0 auto;
	font-family:微软雅黑;
	max-width:720px;
	}
.shouhuo-a{
	font-size:15px;
	padding-bottom:5px;
	padding-top:10px;
	}
.shouhuo-b{
	width: 80%;
	height: 120px;
	border-radius: 5px;
	background-color: #FFF;
	overflow: hidden;
	float: left;
	}
.shouhuo-b li{
	font-size:14px;
	padding-left:10px;
	}
.shouhuo-b-a{
	margin-top:20px;
	}
.shouhuo-b-b{
	width:7%;
	height:35px;
	background:url(../images/shouhuo.png) no-repeat;
	float:right;
	padding-right:10px;
	margin-top: -5px;
	}
.Big-denglu{
	width: 79%;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	background: #4dbeff;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color: #FFF;
	}
.delimg {
	background-color: #FFF;
	float: right;
	/* margin-top: -70px; */
	/* margin-right: 35px; */
	width: 20%;
	height: 120px;
}
.imge {
	width: 50%;
	height: 35px;
	margin-top: 40px;
	margin-left: 18px;
}
.no-result{
	text-align: center;
}
/* CSS Document */

