body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
    margin: 0;
    padding: 0;
}
.new{
	width: 100%;
	padding: 10px 20px;
	background: #fff;
	border-bottom: 1px solid #A3DEFF;
	font-size: 16px;
	color: #54C0FF;
	font-weight: bold;

	}
.ney{
	width:100%;
	padding:10px 20px;
	border-bottom:1px solid #A3DEFF;
	font-family:풕턼환쥌;
	font-size:16px;
	background: #fff;
	color: #54C0FF;
	font-weight:bold;
	}
html {
    -webkit-text-size-adjust: none;
    word-wrap: break-word;
}

h1, h2, h3 {
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit;
}

fieldset, img {
    border: 0;
}

cite, em, s, i, b {
    font-style: normal;
}

input, button, textarea, select {
    font-size: 100%;
}

body, input, button, textarea, select, option {
    font-size: normal;
}

a, input, textarea {
    text-decoration: none;
    outline: 0;
}

li, img, label, input {
    vertical-align: middle;
}

var {
    font-style: normal;
}

ins {
    text-decoration: none;
}

body {
    font-size: 12px;
}

.viewport {
    max-width: 720px;
    margin: auto;
    overflow: hidden;
}

.mlr20 {
    margin: auto 1em;
}

.m20 {
    margin: 1em 0;
}

.m30 {
    margin: 1.5em 0;
}

.mt20 {
    margin-top: 1em;
}

.mb20 {
    margin-bottom: 1em;
}

.mt40 {
    margin-top: 2em;
}

.mb40 {
    margin-bottom: 2em;
}

.mt-20 {
    margin-top: -1em;
}

.hide {
    display: none;
}

.h_box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    width: 100%;
}

    .h_box .spacer {
        width: 1em;
    }

.flex_1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    width: 100%;
}

.flex_20 {
    width: 1em;
}

.imgurl {
    display: block;
    background:#fff;
    -webkit-background-size: 40% auto;
    -moz-background-size: 40% auto;
    -o-background-size: 40% auto;
    background-size: 40% auto;
    width: 100%;
}

    .imgurl img {
        width: 100%;
    }

html {
    min-height: 100%;
    background-color: #f4f4f4;
}

.header {
    position: relative;
    background-color: #ffffff;
}

    .header .tit {
        visibility: hidden;
        text-align: center;
        height: 5em;
    }

        .header .tit h2 {
            padding: 1.2em 0 0;
        }

        .header .tit span {
            font-size: 2em;
            color: #464646;
        }
.header .left {
position: absolute;
top: 0;
left: 0;
background: url(/resources/mobile/images/logo.jpg) 1em 1.4em no-repeat #fff;
background-size: 7em;
width: 16em;
height: 5em;
}
        .header .left .home {
			display: inline-block;
			padding: 0.7em 1em;
			font-size: 2em;
        }

            .header .left .home span {
                font-size: 2em;
                color: #464646;
				font-family:"풕턼환쥌";
            }

    .header .right {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em 0 0;
    }

        .header .right li {
            float: left;
        }

            .header .right li a {
                display: block;
                padding: 1em .5em 1em .7em;
                position: relative;
            }

            .header .right li .ico {
                display: inline-block;
                width: 3em;
                height: 3em;
            }

        .header .right .user .ico {
            background:url(../images/tx.png) no-repeat;
            -webkit-background-size: 3em 3em;
            -moz-background-size: 3em 3em;
            -o-background-size: 3em 3em;
            background-size: 3em 3em;
        }

        .header .right .cart .ico {
            background:url(../images/gwc.png) no-repeat;
            -webkit-background-size: 3em 3em;
            -moz-background-size: 3em 3em;
            -o-background-size: 3em 3em;
            background-size: 3em 3em;
        }

        .header .right .cart .tip {
            position: absolute;
            top: .8em;
            right: 0;
            width: 1.5em;
            height: 1.4em;
            padding-top: .1em;
            text-align: center;
            background-color: #ffc703;
            color: #783600;
            -webkit-border-radius: .3em;
            -moz-border-radius: .3em;
            -ms-border-radius: .3em;
            -o-border-radius: .3em;
            border-radius: .3em;
        }

.viewport {
    background-color: #f4f4f4;
}

.slider {
    background-color: #fff;
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

    .slider .swipe-wrap {
        overflow: hidden;
        position: relative;
    }

        .slider .swipe-wrap > div {
            float: left;
            position: relative;
            text-align: center;
            overflow: hidden;
        }

            .slider .swipe-wrap > div a {
                display: block;
            }

            .slider .swipe-wrap > div .imgurl, .slider .swipe-wrap > div img {
            }

    .slider .swipe-nav {
        position: absolute;
        bottom: .5em;
        text-align: center;
        width: 100%;
    }

        .slider .swipe-nav span {
            display: inline-block;
            width: .8em;
            height: .8em;
            margin: 0 .4em;
            -webkit-border-radius: .8em;
            -moz-border-radius: .8em;
            -ms-border-radius: .8em;
            -o-border-radius: .8em;
            border-radius: .8em;
            background: #fff;
            filter: alpha(Opacity=80);
            opacity: .8;
        }

            .slider .swipe-nav span.on {
                background: #f4f4f4;
            }

.nav-index {
    background-color: #fff;
}

    .nav-index ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        border-bottom: .15em solid #f6f6f6;
    }

        .nav-index ul:first-child {
            border-top: .15em solid #f6f6f6;
        }

    .nav-index li {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1;
        border-left: .15em solid #f6f6f6;
    }

        .nav-index li:first-child {
            border-left: 0 none;
        }

        .nav-index li a {
            display: block;
			width: 100%;
			height: 6.5em;
			text-align: center;
        }

            .nav-index li a .ico {
                display: block;
					margin: 0 auto .5em;
					width: 4em;
					height: 3.5em;
					-webkit-background-size: 5em 5em;
					-moz-background-size: 5em 5em;
					-o-background-size: 5em 5em;
					background-size: 4em 4em;
            }

            .nav-index li a .t {
                color: #333;
                font-size: 1.1em;
				font-family:"풕턼환쥌";
            }

    .nav-index .ico-qb {
        background: url(../images/qbsp.png) no-repeat;
    }

    .nav-index .ico-ss {
        background: url(../images/ss.png) no-repeat;
    }

    .nav-index .ico-th {
        background: url(../images/zk.png) no-repeat;
    }

    .nav-index .ico-cz {
        background: url(http://img01.mifile.cn/m/home/views/index/img/nav/cz_223531d.png) no-repeat;
    }

    .nav-index .ico-sj {
        background: url(http://img01.mifile.cn/m/home/views/index/img/nav/sj_d7c9f9f.png) no-repeat;
    }

    .nav-index .ico-sq {
        background: url(http://img01.mifile.cn/m/home/views/index/img/nav/sq_87c5b18.png) no-repeat;
    }

    .nav-index .ico-app {
        background: url(http://img01.mifile.cn/m/home/views/index/img/nav/app_6cd591d.png) no-repeat;
    }

    .nav-index .ico-pc {
        background: url(../images/dnb.png) no-repeat;
    }
    .card .col2 {
        background-color: #fff;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        border-bottom: .15em solid #f6f6f6;
    }

        .card .col2:first-child {
            border-top: .15em solid #f6f6f6;
        }

        .card .col2 .row1, .card .col2 .row2, .card .col2 .rows {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -ms-box-flex: 1;
            box-flex: 1;
            border-left: .15em solid #f6f6f6;
        }

            .card .col2 .row1:first-child, .card .col2 .row2:first-child, .card .col2 .rows:first-child {
                border-left: 0 none;
            }

        .card .col2 .mg-bor-no-left {
            border-left: 0 none;
        }

    .card .rows {
        position: relative;
    }

        .card .rows .row1, .card .rows .row2 {
            width: 100%;
            display: block;
        }

    .card .row1 .imgurl {
        height: 100%;
        min-height: 10em;
    }

    .card .row2 {
        overflow: hidden;
    }

        .card .row2 .imgurl {
            height: 100%;
            min-height: 20em;
        }

    .card .mg-bor-top {
        border-top: .15em solid #f6f6f6;
    }

.show_big .rows, .show_big .row2, .show_big .row1 {
    width: 50%;
}

    .show_big .rows a, .show_big .row2 a, .show_big .row1 a {
        display: block;
        position: relative;
        overflow: hidden;
    }

        .show_big .rows a .imgurl, .show_big .row2 a .imgurl, .show_big .row1 a .imgurl {
            width: auto;
            position: relative;
        }

.topic {
    position: relative;
    overflow: hidden;
}

    .topic .bg .imgurl {
        min-height: 19em;
    }

    .topic .targeturl {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .topic .item-lay {
        position: absolute;
        top: 0;
        left: 0;
        margin: 1.2em;
    }

        .topic .item-lay .imgurl {
            min-height: 10em;
        }

        .topic .item-lay .item-l {
            margin-right: .5em;
            float: left;
            width: 10em;
            height: 16em;
            background-color: #fff;
            text-align: center;
        }

            .topic .item-lay .item-l p {
                margin: .5em 1em 0;
                color: #333;
            }

                .topic .item-lay .item-l p span {
                    font-size: 1.1em;
                    line-height: 1.3;
					font-family:"풕턼환쥌";
                }

.card-nomb {
    margin-bottom: 0;
}

.card-list {
    background-color: #fff;
}

    .card-list .row1 {
        height: auto;
        text-align: center;
        overflow: hidden;
	width:50%;
    }

        .card-list .row1 a {
            display: block;
            padding: 0em 0 2em 0;
        }

        .card-list .row1 .imgurl {
            margin: 0 auto;
            padding: 0 .15em;
            background-color: transparent;
            width: 15em;
            height: 15em;
			overflow:hidden;
        }

        .card-list .row1 .p {
            display: block;
            margin: .5em 1.5em 0;
            color: #333;
			height:1.5em;
			overflow:hidden;
        }

            .card-list .row1 .p span {
                font-size: 1.3em;
                line-height: 1.3;
				font-family:"풕턼환쥌";
            }

    .coll.more span {
        color: #999;
		font-size: 1.6em;
		font-family: "풕턼환쥌";
    }

        .coll.more {
            width: 100%;
			text-align: center;
			padding: 1.6em;
			background: #ffffff;
        }
.footer {
    background-color: #ffffff;
    padding: 0em 0 1.6em;
    text-align: center;
    margin-top: 6px;
}

    .footer a {
        display: inline-block;
        padding: 0 1em;
    }

    .footer span {
        color: #acaaa8;
        font-size: 1.5em;
		font-family:"풕턼환쥌";
    }

    .footer .tip {
        padding: 0 0 1.5em;
    }

        .footer .tip span {
            font-size: 1.2em;
        }

    .footer .links {
        padding: 1em 0 0;
    }

        .footer .links a {
            border-right: .1em solid #acaaa8;
        }

            .footer .links a:last-child {
                border-right: 0 none;
            }

    .footer .gl {
        color: #f60;
    }

    .footer .login {
        display: none;
    }

.logined .login {
    display: inline;
}

.logined .nologin {
    display: none;
}

.tips_view {
    text-align: center;
    background-color: #f4f4f4;
}

    .tips_view .tips_msg {
        padding: 5em 0 2em;
    }

        .tips_view .tips_msg:before {
            content: "\0020";
            display: block;
            margin: 0 auto;
        }

        .tips_view .tips_msg h3 {
            font-size: 1.7em;
            color: #50555b;
            margin-bottom: .44118em;
        }

    .tips_view.mitu_02 .tips_msg:before {
        width: 16em;
        height: 16.1em;
        background: url(/static/img/img/mitu_02.png) 0 0 no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .tips_view .tips_btn {
        width: 17em;
        margin: 0 auto;
        padding: 1.5em 0 3em;
    }

.button {
    font-size: 1.7em;
    display: block;
    font-weight: 700;
    text-align: center;
    line-height: 2.61765em;
    -webkit-border-radius: .23529em;
    -moz-border-radius: .23529em;
    -ms-border-radius: .23529em;
    -o-border-radius: .23529em;
    border-radius: .23529em;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    text-shadow: rgba(0,0,0,.3) 0 -1px 0;
}

    .button.disable_button {
        color: #515459;
        text-shadow: rgba(0,0,0,.1) 0 1px 0;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f3f4f6),color-stop(100%,#dfe0e2));
        background-image: -webkit-linear-gradient(#f3f4f6,#dfe0e2);
        background-image: -moz-linear-gradient(#f3f4f6,#dfe0e2);
        background-image: -o-linear-gradient(#f3f4f6,#dfe0e2);
        background-image: linear-gradient(#f3f4f6,#dfe0e2);
        -webkit-box-shadow: rgba(0,0,0,.1) 0 .02941em .11765em 0 inset;
        -moz-box-shadow: rgba(0,0,0,.1) 0 .02941em .11765em 0 inset;
        box-shadow: rgba(0,0,0,.1) 0 .02941em .11765em 0 inset;
    }

        .button.disable_button:active, .button.disable_button:hover {
            -webkit-box-shadow: rgba(0,0,0,.3) 0 .05882em .11765em .02941em inset;
            -moz-box-shadow: rgba(0,0,0,.3) 0 .05882em .11765em .02941em inset;
            box-shadow: rgba(0,0,0,.3) 0 .05882em .11765em .02941em inset;
        }

@media only screen and (max-width:300px) {
    body {
        font-size: 8.33333px;
    }

    .viewport {
        max-width: 300px;
    }
}

@media only screen and (max-width:310px) and (min-width:300px) {
    body {
        font-size: 8.33333px;
    }

    .viewport {
        max-width: 300px;
    }
}

@media only screen and (max-width:320px) and (min-width:310px) {
    body {
        font-size: 8.88889px;
    }

    .viewport {
        max-width: 320px;
    }
}

@media only screen and (max-width:360px) and (min-width:320px) {
    body {
        font-size: 8.88889px;
    }

    .viewport {
        max-width: 360px;
    }
}

@media only screen and (max-width:360px) and (min-width:350px) {
    body {
        font-size: 10px;
    }

    .viewport {
        max-width: 360px;
    }
}

@media only screen and (max-width:480px) and (min-width:360px) {
    body {
        font-size: 10px;
    }

    .viewport {
        max-width: 480px;
    }
}

@media only screen and (max-width:480px) and (min-width:470px) {
    body {
        font-size: 13.33333px;
    }

    .viewport {
        max-width: 480px;
    }
}

@media only screen and (max-width:560px) and (min-width:480px) {
    body {
        font-size: 13.33333px;
    }

    .viewport {
        max-width: 560px;
    }
}

@media only screen and (max-width:570px) and (min-width:560px) {
    body {
        font-size: 15.83333px;
    }

    .viewport {
        max-width: 570px;
    }
}

@media only screen and (max-width:640px) and (min-width:570px) {
    body {
        font-size: 15.83333px;
    }

    .viewport {
        max-width: 640px;
    }
}

@media only screen and (max-width:640px) and (min-width:630px) {
    body {
        font-size: 17.77778px;
    }

    .viewport {
        max-width: 640px;
    }
}
.col1 {
	padding: 1em;
	text-align: center;
	background: #ffffff;
	border-bottom: 1px solid #eee;
}

.col1 span {
color: #999;
font-size: 1.6em;
font-family: "풕턼환쥌";
}
@media only screen and (max-width:710px) and (min-width:640px) {
    body {
        font-size: 17.77778px;
    }

    .viewport {
        max-width: 710px;
    }
}
