body {
	font: 12px tahoma, Arial, Verdana, sans-serif;
}

/* ---------- AutoComplete ---------- */

div.ac_results {
	overflow: hidden;
	z-index: 99999;
	border: 1px solid #a3c4d7;
	background-color: #ffffff;
}

div.ac_results ul {
	width: 100%;
	overflow: hidden;
}

div.ac_results li {
	line-height: 28px;
	display: block;
	padding: 0px 4px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

div.ac_results .ac_odd {
	background-color: #f1f8ff;
}

div.ac_results .ac_over {
	padding: 0px 4px;
	background-color: #e4f2fa;
}